.container{
    height: 300px;
    width: 80%;
    background-color: rgb(174, 243, 238);
    text-align: center;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    flex-wrap: wrap-reverse;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    background-color: rgb(198, 62, 198);
   
}
.container div{
    height: 100px;
    width: 250px;
    text-align: center;
    font-size: 1.5em;
  
    
}