
h1{
    font-family: League spartm;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: normal;
    text-decoration:rgb(88, 248, 245) double underline ;
    text-transform: uppercase;
}