h1{
    color: rgb(187, 96, 39);
    /* text-align: right; */
    text-align: center;
    /* border: solid; */
    /* width: 50%; */
    font-weight: 700;
    /* text-decoration: line-through; */
}

p{
    text-align: justify;
    color: rgb(206, 44, 82);
    font-weight: bold;
}
h2{
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}
ul{
    font-weight: normal;
    /* text-decoration: overline; */
}
